# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv*/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Large folders - exclude from GitHub
Dataset/
Dataset_Folder/
el_tespit/
input_video/
output_video/
Test_video/
Yolo/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
